{# see https://www.debian.org/doc/debian-policy/ch-controlfields.html for more information #}

{# mandatory values #}
Package: {{ meta_info.get("package_name") | default("ldnp-unknown", true) }}
Version: {{ meta_info.get("version") | default("0.0.1-1unknown1", true) }}
Architecture: {{ meta_info.get("architecture") | default("all", true) }}
Maintainer: {{ meta_info.get("maintainer") | default("ldnp <ldnp@ldnp>", true) }}
Description: {{ meta_info.get("description") | default(meta_info.get("short_description")) | default("ldnp-built package", true) }}

{# recommended values #}
Section: {{ meta_info.get("section") | default("misc", true) }}
Priority: {{ meta_info.get("priority") | default("standard", true) }}

{# optional values #}

{# we can always calculate the installed size estimation #}
Installed-Size: {{ installed_size }}

{%- if meta_info.get("source") +%}
Source: {{ meta_info["source"] }}
{%- endif +%}
{%- if meta_info.get("essential") +%}
Essential: {{ meta_info["essential"] }}
{%- endif +%}
{%- if meta_info.get("depends") +%}
Depends: {{ meta_info["depends"] }}
{%- endif +%}
{%- if meta_info.get("pre_depends") +%}
Pre-Depends: {{ meta_info["depends"] }}
{%- endif +%}
{%- if meta_info.get("recommends") +%}
Recommends: {{ meta_info["recommends"] }}
{%- endif +%}
{%- if meta_info.get("suggests") +%}
Suggests: {{ meta_info["suggests"] }}
{%- endif +%}
{%- if meta_info.get("breaks") +%}
Breaks: {{ meta_info["breaks"] }}
{%- endif +%}
{%- if meta_info.get("conflicts") +%}
Conflicts: {{ meta_info["conflicts"] }}
{%- endif +%}
{%- if meta_info.get("provides") +%}
Provides: {{ meta_info["provides"] }}
{%- endif +%}
{%- if meta_info.get("source") +%}
Source: {{ meta_info["source"] }}
{%- endif +%}
{%- if meta_info.get("replaces") +%}
Replaces: {{ meta_info["replaces"] }}
{%- endif +%}
{%- if meta_info.get("enhances") +%}
Enhances: {{ meta_info["enhances"] }}
{%- endif +%}
{%- if meta_info.get("homepage") +%}
Homepage: {{ meta_info["homepage"] }}
{%- endif +%}

{# at this point, we do not need to support Debian's multiarch feature and disable it (resp. restore legacy behavior) #}
Multi-Arch: no

{# just some advertising... #}
Built-Using: linuxdeploy-plugin-native_packages
